* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/The-Mandalorian-Wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}
.single-timeline-area .timeline-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding-right: 60px;
}
/* Linea vertical gris. */
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
/* Puntos amarillos */
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #f1c40f;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 14px;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #ebebeb;
    background: white;
}
.single-timeline-area .single-timeline-content .timeline-icon {
    display: flex;
    font-size: 30px;
    text-align: center;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon-red {
    color: #F24C3D;
}
.single-timeline-area .single-timeline-content .timeline-icon-green {
    color: #A0D8B3;
}
.single-timeline-area .single-timeline-content .timeline-icon-blue {
    color: #30A2FF;
}

.background-effect {
    cursor: pointer;
    transition: 1200ms;
}
.background-effect:hover {
    background-color: #99DBF5;
    padding: 2px 15px;
    border: 1px solid;
    border-radius: 3px;
}


/*** Media queries ***/
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }

    .single-timeline-area .timeline-date {
        width: 100px;
    }

    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}